<div class="container-fluid fill">
    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-5 text-center">
            <div class="card">
                <div class="card-body p-4 my-4">
                    <div class="p-4">
                        <img src="https://media-exp1.licdn.com/dms/image/C5103AQEuJ6LPv_r39Q/profile-displayphoto-shrink_800_800/0/1538309029208?e=1648684800&v=beta&t=UVovWkBc-gSaM5NE7qUczVznCgnpAD8y8-_ir-UsqHI" class="rounded-circle profile-img">
                    </div>
                    <div class="text-center text-light mt-md-4 mb-2 pt-4">
                        <h2 class="fw-light">Hello!</h2>
                    </div>
                    <div class="text-center text-light my-2">
                        <h2 class="fw-light">I'm <span class="text-blue fw-bolder">Fahmi Tyastomo</span> </h2>
                    </div>
                    <div class="text-center text-light my-2">
                        <span class="fw-light">Web Developer</span>
                    </div>
                    <div class="d-flex justify-content-center text-light my-4">
                        <h2 class="mx-2">
                            <a href="https://github.com/tyastomo" class="text-blue">
                                <fa-icon [icon]="faGithub"></fa-icon>
                            </a>
                        </h2>
                        <h2 class="mx-2">
                            <a href="https://www.linkedin.com/in/fahmi-tyastomo-207075172/" class="text-blue">
                                <fa-icon [icon]="faLinkedinIn"></fa-icon>
                            </a>
                        </h2>
                    </div>
                    <div class="text-center text-light my-4 p-4">
                        
                        <div class="progress" style="height: 2px;">
                            <div class="progress-bar bg-blue" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h3 class="mx-2 fw-light my-4">About Me</h3>
                        <div class="progress" style="height: 2px;">
                            <div class="progress-bar bg-blue" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="container my-4">
                            <p class="px-4">Alumni of Informatics Engineering Education <span class="text-blue"> Yogyakarta State University. </span>
                            <br>
                            <span class="text-blue">Web Developer </span> from the Special Region of Yogyakarta, ID
                            <br>
                            Worked as a Website Designer, Frontend and Backend Web Developer
                            <br>
                            Currently working as <span class="text-blue">Laravel Developer</span> </p>
                        </div>
                    </div>
                    <!-- experience  -->
                    <div class="text-center text-light my-4 p-4">
                        <div class="progress" style="height: 2px;">
                            <div class="progress-bar bg-blue" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h3 class="mx-2 fw-light my-4">Experience</h3>
                        <div class="progress mb-4" style="height: 2px;">
                            <div class="progress-bar bg-blue" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center" *ngFor="let data of Experiences">
                            <div class="d-flex">
                                <p class="fw-light mt-1"><span class="fw-bold text-light">{{data.office}}</span> as <span class="text-blue">{{data.position}}</span></p>
                            </div>
                            <div class="text-right">
                                {{data.year}}
                            </div>
                        </div>
                    </div>

                    <!-- skill  -->
                    <div class="text-center text-light my-4 p-4">
                        <div class="progress" style="height: 2px;">
                            <div class="progress-bar bg-blue" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h3 class="mx-2 fw-light my-4">Skills</h3>
                        <div class="progress mb-4" style="height: 2px;">
                            <div class="progress-bar bg-blue" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div *ngFor="let item of Skills" class="px-4 mx-4">
                            <h5 class="mx-2 fw-light mt-4 pt-4 mb-3">{{item.name}}</h5>
                            <div class="d-inline justify-content-center my-3"  *ngFor="let set of item.sets">
                                <button type="button" class="btn btn-outline-blue mx-2 my-2">{{set.name}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="text-center text-light my-4 p-4">
                        <div class="progress" style="height: 2px;">
                            <div class="progress-bar bg-blue" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex justify-content-center text-light my-4">
                            <h5 class="mx-2">
                                <a href="https://hi-in.facebook.com/tyastomo.fahmi" class="text-muted">
                                    <fa-icon [icon]="faFacebookF"></fa-icon>
                                </a>
                            </h5>
                            <h5 class="mx-2">
                                <a href="#" class="text-muted">
                                    <fa-icon [icon]="faInstagram"></fa-icon>
                                </a>
                            </h5>
                            <h5 class="mx-2">
                                <a href="#" class="text-muted">
                                    <fa-icon [icon]="faWhatsapp"></fa-icon>
                                </a>
                            </h5>
                            <h5 class="mx-2">
                                <a href="#" class="text-muted">
                                    <fa-icon [icon]="faDiscord"></fa-icon>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>